.header{
  max-width: 1440px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 36px auto;
  padding: 0 64px;
}


.Logo{ 
  width: 142px;
  height: 40px;
}

.burger-menu{
  display: none;
}

@media (max-width: 1024px){
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 36px 64px;
  }

  .navigation{
    display: none;
  }

  .Logo {
    width: 86px;
    height: 40px;
    order: 2;
    text-align: center;
    flex: 1;
  }

  .burger-menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;

    width: 40px;
    height: 40px;
    background-color: #5D50C6;
    border-radius: 8px;
    cursor: pointer;
    order: 1;
  }

  .burger-menu span{
    background-color: #FFFFFF;
    width: 20px;
    height: 2px;
  }

  .buttons{
    order: 3;
    display: flex;
    
  }
}

.navigation ul{
  display: flex;
  gap: 25px;
}

.nav a{
  color: #222831;
  font-weight: 700;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: 0%;
}

.bttn2{
width: 115px;
height: 49px;
border-radius: 100px;
background-color: #5D50C6;
border: none;
font-weight: 700;
font-size: 14px;
line-height: 120%;
letter-spacing: 0%;
color: #EEEEEE;
}

.bttn1 {
  width: 105px;
  height: 49px;
  border-radius: 100px;
  background-color: #FFFFFF;
  color: #222831;
}

.bttn3{
  width: 141px;
}

.bttn4{
  width: 181px;
  height: 56px;
}

.circles{
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 744px) {
  .header{
    margin: 36px auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .Logo{
    order: 1;
    flex: none;
    display: block;
  }

  .Logo img{
    width: 86px;
    display: block;
    }

  .burger-menu{
    order: 2;
    display: flex;
  }

  .buttons, .navigation {
    display: none;
  }
}

.img img{
  width: 100%;
  height: auto;
}

.section1{
  width: 100%;
  max-width: 1184px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 64px auto;
}

.left-div1{
  display: flex;
  flex-direction: column;
  gap: 43px;
}

.title{
  font-weight: 400;
  font-size: 69px;
  line-height: 120%;
  letter-spacing: 0%;
  padding-bottom: 43px;
}

.img{
  width: 100%;
  max-width: 772px;
}

.span{
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  letter-spacing: 0%;
  color: #19182580;
}

@media (max-width: 1024px) {
  .section1{
    width: 100%;
    max-width: 896px;
    display: flex;
    flex-direction: column;
    margin: 64px auto;
    padding: 0 20px;
  }

  .img{
    order: 1;
    padding-bottom: 64px;
  }

 .left-div1{
  order: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
 }

 .title{
  font-weight: 700;
  font-size: 56px;
  line-height: 120%;
  letter-spacing: 0%;
  padding-bottom: 43px;
}

}

@media (max-width: 744px){
  .section1{
    width: 100%;
    max-width: 398px;
    margin: 32px auto;
    padding: 0 20px;
    flex-direction: column;
  }

  .img{
    width: 100%;
    max-width: 396px;
  }

  .title{
    font-size: 40px;
  }

  .span{
    font-size: 16px;
  }

  .button-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    width: 100%;
  }

  .bttn3, .bttn4{
    width: 100%;
    max-width: 398px;
  }

}

.circle2{
 width: 100px;
 height: 100px;
 background-color: #5D50C6 ;
 border-radius: 100px;
 rotate: -180°;
 border: none;
}

.and1{
background-color: #FFFFFF;
}

.top-div{
  display: flex;
  justify-content: space-between;
  align-items: center;
 margin: 64px auto;
  padding: 0 64px;
}

.p{
  font-weight: 700;
  font-size: 23px;
  line-height: 120%;
  letter-spacing: 20%;
  color: #F85E9F;
}

.p2{
  font-weight: 700;
  font-size: 44px;
  line-height: 120%;
  letter-spacing: 0%;
}

.section2{
  margin: 262px auto;
}

.div-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.div-box{
  max-width: 373.33px;
  height: auto;
  border-radius: 0px 0px 32px 32px;
box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05); 
background-color: #FFFFFF;
}

.box-wrapper{
  display: flex;
justify-content: center;
align-items: center;
gap: 32px;
padding: 64px auto ;
}

.pic img{
  width: 100%;
  max-width: 373.33px;
  max-height: 350px;
}

.dest-price{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 32px 32px 10px 32px;
}

.p-box{
  color: #191825;
  letter-spacing: 0%;

}

.price {
  letter-spacing: 0%;
  
}

.place{
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  letter-spacing: 0%;
  color: #191825BF;
  padding: 32px;
}

.rating{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 35px;
  gap: 10px;
}

.score{
  color: #FF5722;
  letter-spacing: 0%;
}

@media (max-width: 1024px){
  .div-wrapper{
    width: 100%;
    max-width: 278px;
    margin: 0 auto;
  }
   .top-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
   }

   .p2{
    font-size: 40px;
    padding-top: 16px;
    padding-bottom: 64px;
   }

   .circle2{
    margin-bottom: 64px;
   }

   .pic img{
    width: 100%;
    max-width: 100%;

  }

   .div-box{
    width: 100%;
    max-width: 100%;
   }

   .dest-price{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
   }

   .p-box{
    order: 2;
    padding: 10px 0;
   }

   .price{
    order: 1;
    padding: 0;
   }
}

@media (max-width: 744px){
  .section2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .box-wrapper{
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .p{
    font-size: 16px;
  }

  .p2{
    font-size: 32px;
  }

  .circles{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 398px;
  }

  .circle2{
    width: 64px;
    height: 64px;
  }

  .pic img{
    width: 100%;
    max-width: 398px;
  }

   .div-wrapper{
    width: 100%;
    max-width: 398px;
    margin: 0 auto;
  }
  .div-box{
    display: flex;
    flex-direction: column;
    text-align: left;
   }

   .dest-price{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
   }
   .price{
    font-size: 23px;
   }

   .p-box{
    font-size: 23px ;
   }

   .place{
    font-size: 18px;
   }

   .score{
    font-size: 23px;
   }
}

.section3{
  display: flex;
  justify-content: space-between;
  align-items: top;
  max-width: 1184px;
  margin: 100px auto;
  gap: 60px;
}

.image1 img{
  width: 100%;
  max-width: 871px;
}

.bottom-div{
  display: flex;
  flex-direction: row;
}

.travel{
  font-size: 23px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 20%;
  color: #F85E9F;
  padding-bottom: 16px;
}

.location{
  font-size: 44px;
  letter-spacing: 0%;
  color: #191825;
  padding-bottom: 32px;
}

.info{
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  letter-spacing: 0%;
  color: #19182580;
}

.bottom-div{
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: space-between;
}

.section3-box{
  width: 204.5px;
  height: auto;
  flex: 1 1 calc(50% - 12px);
  border-radius: 32px;
  box-shadow: 0px 10px 30px rgba(25, 24, 37, 0.1);
  text-align: center;
  box-sizing: border-box;
 
}

.number{
  color: #FF5722;
  font-weight: 700;
  font-size: 35px;
  line-height: 120%;
  padding: 29px;
}


@media (max-width: 1024px){
  .section3{
    display: flex;
    flex-direction: column;
    gap: 64px;
  }

  .top-div2{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .bottom-div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
  }
}

@media (max-width: 744px){
  .bottom-div{
    display: flex;
    flex-direction: column;
   align-items: center;
  }

  .right-section{
    display: flex;
    flex-direction: column;
  }

  .section3-box{
    width: 90%;
    max-width: 398px;
    margin-bottom: 24px;
  }
}
